In [1]:

import pandas as pd
import numpy as np

In [2]:

data = pd.read_csv('data.csv')

In [3]:
data

  outlook  temp humidity   windy water forecast play_tennis
0   sunny   hot     high  strong  warm     same         yes
1   sunny   hot     high  strong  warm     same         yes
2   rainy  mild     high  strong  warm   change          no
3   sunny  mild   normal  strong  warm   change         yes
4   sunny   hot     high  strong  cool     same         yes

In [4]:
data.head()

  outlook  temp humidity   windy water forecast play_tennis
0   sunny   hot     high  strong  warm     same         yes
1   sunny   hot     high  strong  warm     same         yes
2   rainy  mild     high  strong  warm   change          no
3   sunny  mild   normal  strong  warm   change         yes
4   sunny   hot     high  strong  cool     same         yes

In [5]:
data.shape

(5, 7)

In [6]:
concepts = np.array(data)[:,:-1]

In [7]:
concepts

array([['sunny', 'hot', 'high', 'strong', 'warm', 'same'],
       ['sunny', 'hot', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'mild', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'mild', 'normal', 'strong', 'warm', 'change'],
       ['sunny', 'hot', 'high', 'strong', 'cool', 'same']], dtype=object)

In [10]:
for i in data.columns:
    print(f'{i} : {data[i].unique()}')

outlook : ['sunny' 'rainy']
temp : ['hot' 'mild']
humidity : ['high' 'normal']
windy : ['strong']
water : ['warm' 'cool']
forecast : ['same' 'change']
play_tennis : ['yes' 'no']

In [15]:
result=data['play_tennis'].values

In [17]:
attributes=data.drop('play_tennis',axis=1).values

In [18]:
H=['0']*attributes.shape[1]

In [19]:
print(f'Initial Hypothesis is : {H}')

Initial Hypothesis is : ['0', '0', '0', '0', '0', '0']

In [20]:
target = np.array(data)[:,-1]

In [21]:
target

array(['yes', 'yes', 'no', 'yes', 'yes'], dtype=object)

In [22]:

for i in range(attributes.shape[0]):
    if result[i]=='yes':
        for j in range(attributes.shape[1]):
            if H[j]=='0':
                H[j]=attributes[i][j]
            elif H[j]!=attributes[i][j]:
                H[j]='?'
    print(f'For Step-{i} : {H}')

For Step-0 : ['sunny', 'hot', 'high', 'strong', 'warm', 'same']
For Step-1 : ['sunny', 'hot', 'high', 'strong', 'warm', 'same']
For Step-2 : ['sunny', 'hot', 'high', 'strong', 'warm', 'same']
For Step-3 : ['sunny', '?', '?', 'strong', 'warm', '?']
For Step-4 : ['sunny', '?', '?', 'strong', '?', '?']

In [23]:
print(f'Final Hypothesis is : {H}')

Final Hypothesis is : ['sunny', '?', '?', 'strong', '?', '?']